/* COMMON STYLES */
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistency in dimensions */
}

/* General */
html, body {
    background-color: white;
    font-family: 'Roboto', sans-serif; /* Global font */
}

/* Links */
a {
    color: black;
    font-size: .8rem;
    text-decoration: none;
    border: 0px dashed #EA4335; /* Red */
    margin-right: .8rem;
}

/* Shades of gray and blue border */
:root {
  --gray1: #f6f6f6;
  --gray2: #dadce0;
  --gray3: #5f6368;
  --blue: #1A73E8;
}

/* Properties for Google's logo */
.color1 { color: #1A73E8; } /* Blue */
.color2 { color: #EA4335; } /* Red */
.color3 { color: #FBBC05; } /* Yellow */
.color4 { color: #34A853; } /* Green */

.rotation {
  display: inline-block;
  transform: rotate(-22deg);
}


/* INDEX AND IMAGES PAGES */
/* Nav bars */
.nav_bar-index-images {
    display: flex;
    flex-direction: row;
    justify-content: end;    
    align-items: baseline; /* Ensures that all children occupy the same height */
    padding-top: 1.1rem;
    padding-right: 9rem;
    height: 2.99rem;
    border: 0px solid blue; /* Blue */
}

/* Fonts properties for Google's main logo */
.xlarge {
    font-size: 6rem;
    font-weight: 400;
}
.large {
    font-size: 4.75rem;
    font-weight: 500;
}

.buttons-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 2rem;
}


/* INDEX PAGE */
/* Google's main logo contanier */
.logo-centered {
  display: flex;
  align-items: baseline; /* Ensures that all children occupy the same height */
  justify-content: center;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding-top: 8.2rem;
  padding-right: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 1.5rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -.23rem;
  margin-top: 0rem;
  border: 0px dashed red; /* Red */
}

/* Search form */
.input-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    border: 0px dashed red; /* Red */
}

/* Input field */
.field-index {
    all: unset;
    box-sizing: border-box;
    font-family: inherit;

    text-align: start;

    width: 100%;
    max-width: 36rem;
    min-height: 3rem;
    height: 3rem;
    border-radius: 24px;

    padding: 0 1rem;
    font-size: 1rem;
    border: 1px solid var(--gray2);
    box-shadow: 0 1px 7px 0px var(--gray1);
}
.field-index:hover {
    box-shadow: 0 2px 9px -1.5px var(--gray2);
}

.field-index:focus {
    border-color: var(--gray1);
    box-shadow: 0 2px 9px -1.5px var(--gray2);
}

/* Style for buttons */
input[type="submit"] {
    all: unset;
    padding: 0.55rem 1rem; /* Spacing on buttons */
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer; /* Pointer cursor on hover */
    border-radius: 9px; /* Rounded borders */
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    background-color: var(--gray1);
    color: var(--gray3);
    border: 1px solid transparent; /* No border initially */
}

/* Hover effect (when the mouse is over the button) */
input[type="submit"]:hover {
    background-color: var(--gray1);
    border: 1px solid var(--gray2);
    box-shadow: 0 2px 2px -1px var(--gray2);
}

/* Click effect (focus) */
input[type="submit"]:active {
    background-color: var(--gray1);
    border: 1px solid var(--blue); /* Blue border on click */
    box-shadow: none; /* Gray */
}