/* COMMON STYLES */
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistency in dimensions */
}

/* General */
html, body {
    font-family: 'Roboto', 'Poppins', sans-serif; /* Global font */
    background-color: var(--white);
}

/* Links */
a {
    color: var(--black);
    font-size: .8rem;
    text-decoration: none;
    margin-right: .8rem;

    border: 0px dashed red;
}

/* White, gray shades, black font, blue border and red title */
:root {
    --white: #ffffff;
    --gray1: #f8f9fa;
    --gray2: #dfe1e5;
    --gray3: #5f6368;
    --black: #202124; 
    --blue: #1A73E8;
    --red: #EA4335;
}

/* Properties for Google's logo */
.color1 { color: #1A73E8; }
.color2 { color: #EA4335; }
.color3 { color: #FBBC05; }
.color4 { color: #34A853; }

.rotation {
  display: inline-block;
  transform: rotate(-22deg);
}

/* INDEX AND IMAGES PAGES */
/* Navigation bars */
.nav-bar_index-images {
    display: flex;
    flex-direction: row;
    justify-content: end;    
    align-items: baseline; /* Ensures that all children occupy the same height */
    padding-top: 1.1rem;
    padding-right: 9rem;
    height: 2.99rem;
    border: 0px solid blue;
}

/* Fonts properties for Google's main logo */
.xlarge {
    font-size: 6rem;
    font-weight: 400;
}
.large {
    font-size: 4.75rem;
    font-weight: 500;
}

/* Input field */
.field-common {
    display: block;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-align: start;
    min-height: 3rem;
    height: 3rem;
    border-radius: 24px;
    padding: 0 2.5rem;
    font-size: 1rem;
    border: 1px solid var(--gray2);
    box-shadow: 0 1px 7px -1.5px var(--gray2);
}
/* Hover / focus */
.field-common:hover {
    box-shadow: 0 2px 10px 0px var(--gray2);
}
.field-common:focus {
    outline: none;
    box-shadow: 0 2px 10px 0px var(--gray2);
}

/* Submit buttons */
.buttons-group {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-top: 2rem;
}


/* INDEX PAGE */
/* Google's main logo container */
.logo-centered {
  display: flex;

  align-items: baseline; /* Ensures that all children occupy the same height */
  justify-content: center;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding-top: 8.2rem;
  padding-right: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 1.5rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -.23rem;
  margin-top: 0rem;
  border: 0px dashed red; /* Red */
}

/* Index field */
body.index-page .field-common {
    width: 100%;
    max-width: 43rem;
    margin: 0 auto;
}

/* Style for buttons */
input[type="submit"] {
    all: unset;
    cursor: pointer; /* Pointer cursor on hover */
    font-family: 'Roboto';
    color: var(--gray3); /* Font color */
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    padding: 0.55rem 1rem; /* Spacing on buttons */
    border-radius: 9px;
    background-color: var(--gray1);
    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
    border: 1px solid transparent; /* No border initially */
}

/* Hover effect (when the mouse is over the button) */
input[type="submit"]:hover {
    background-color: var(--gray1);
    border: 1px solid var(--gray2);
    box-shadow: 0 2px 2px -1px var(--gray2);
}

/* Click effect (focus) */
input[type="submit"]:active {
    background-color: var(--gray1);
    border: 1px solid var(--blue);
    box-shadow: none;
}


/* IMAGES */
.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    
    border: 0px solid purple;
}
.logo {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    align-items: baseline;
    letter-spacing: -.2rem;
    padding-top: 8.2rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 1.5rem;

    border: 0px solid blue;
}
.logo-subtext {
    margin-top: -2.1rem; 
    margin-left: 13.5rem;
    margin-bottom: .9rem;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--blue);

    border: 0px solid red;
}

/* Images field */
body.images-page .field-common {
    width: 100%;
    max-width: 36rem;
    margin: 0 auto;
}


/* ADVANCED */
.nav-bar_advanced {
    display: flex;
    flex-direction: row;
    white-space: normal;
    align-items: baseline; /* Ensures that all children occupy the same height */
    padding-top: .2rem;
    padding-right: 9rem;
    padding-left: 1.2rem;
    height: 2.99rem;
    justify-content: space-between;

    border: 0px solid blue;
}

/* Styles for Google's logo */
.logo-link {
    font-family: 'Poppins', sans-serif;
    letter-spacing: -.075rem;
    width: auto;

    border: 0px dashed red;
}
/* Style for nav bar logo */
.medium {
    font-size: 1.55rem;
    font-weight: 400;
}
.regular {
    font-size: 1.2rem;
    font-weight: 500;
}

.title {
display: flex;
flex-direction: row;
white-space: normal;
align-items: baseline;
font-size: 1.25rem;
color: var(--red);
width: 100%;
min-width: 0;
padding: 2.55rem 2.17rem 1.5rem 2.17rem;
border-bottom: 1px solid var(--gray2);
}

/* Subtitles */
.container-subtitles {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%; /* Now takes full width */
    min-width: 0; /* Allows children to shrink */
    flex: 1;
    flex-shrink: 1;
    height: 5rem;
    padding: 0;

    border: 1px solid blue;
}

.subtitle1 {
    flex: 1; /* Allows proportional shrinking */
    min-width: 13.3rem;
    max-width: 14.3rem; /* Ensures they do not exceed this size */
    height: 100%;
    padding-top: 3rem;
    padding-left: 2.8rem;
    font-weight: bold;

    border: 1px dashed red;
}

.subtitle2 {
    flex: 1; /* Allows growth if there is extra space */
    flex-shrink: 2;
    min-width: 17rem;
    max-width: 35.7rem;
    height: 100%;

    border: 1px dashed red;
}

.subtitle3 {
    flex: 1; /* Allows growth if there is extra space */
    min-width: 0;
    max-width: 24.3rem;
    height: 100%;

    flex-shrink: 2;

    padding-top: 3rem;

    font-size: .85rem;
    font-weight: bold;

    border: 1px dashed red;
}

/* Form container */
.container-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    min-width: 0; /* Allows children to shrink */

    width: 100%;
    flex: 1;
    flex-shrink: 1;
    height: 3rem;
    margin-top: 0;

    border: 1px solid blue;
}

label {
    flex: 1;
    min-width: 13.3rem;
    max-width: 14.3rem; /* Ensures they do not exceed this size */
    height: 100%;

    padding-top: 1rem;
    padding-left: 2.8rem;
    font-size: .8rem;

    border: 1px dashed red;
}

/* Input fields */
.input-advanced {
    all: unset;
    box-sizing: border-box;
    font-family: inherit;
    flex: 2;
    min-width: 17rem;
    max-width: 35.7rem;
    height: 1.5rem;
    flex-shrink: 2;
    padding: 0.25rem 0.5rem;
    line-height: 1.2rem;
    border-radius: 1px;
    border: 1px solid var(--gray2);
}
.input-advanced:focus {
    box-shadow: inset 0 2px 2px var(--gray2);
    outline: none !important;
    border-color: var(--blue);
    border-width: 1px;
}

.todo {
    flex: 2;
    flex-shrink: 1;
    min-width: 0;
    max-width: 24.3rem;

    height: 100%;

    font-size: .7rem;
    padding-top: 1rem;
    padding-left: .7rem;

    border: 1px dashed #EA4335; /* Red */
}

.space-before-btn {
    flex: 1;
    flex-shrink: 2;
    min-width: 17rem;
    max-width: 28.3rem;
    height: 100%;
    padding-top: 2rem;

    border: 1px dashed #EA4335; /* Red */
}

.btn-advanced {
    all: unset !important;   /* resetea solo esta clase */
    cursor: pointer !important;
    font-family: inherit !important;
    
    color: var(--white) !important;
    background-color: var(--blue) !important;
    border: none !important;
    border-radius: 1px !important;
    padding: 0.7rem 1rem 0.5rem !important;
    font-size: 0.7rem !important;
    font-weight: 500 !important;
    text-align: center !important;
    transition: background-color 0.2s ease !important;

}
.btn-advanced:hover {
    background-color: #1669c1 !important;
}
.space-after-btn {
    flex: 2;
    flex-shrink: 1;
    min-width: 0;
    max-width: 24.3rem;
    height: 100%;

    border: 1px dashed #EA4335; /* Red */
}
@media (max-width: 1072px) {
    html, body {
        background-color: lightgoldenrodyellow;
    }
    .container-subtitles {
        width: 45rem;
    }
    .subtitle3 {
        display: none;
    }
    .container-form {
        width: 45rem;
    }
    .space-after-btn {
        display: none;
    }
    .todo {
        display: none;
    }
}