/* COMMON STYLES */
/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Ensures consistency in dimensions */
}

/* General */
html, body {
    background-color: white;
    font-family: 'Roboto', sans-serif; /* Global font */
}

/* Links */
a {
    color: black;
    font-size: .8rem;
    text-decoration: none;
    border: 0px dashed #EA4335; /* Red */
    margin-right: .8rem;
}

/* Properties for Google's logo */
.color1 { color: #1A73E8; } /* Blue */
.color2 { color: #EA4335; } /* Red */
.color3 { color: #FBBC05; } /* Yellow */
.color4 { color: #34A853; } /* Green */

.rotation {
  display: inline-block;
  transform: rotate(-22deg);
}


/* INDEX AND IMAGES PAGES */
/* Nav bars */
.nav_bar-index-images {
    display: flex;
    flex-direction: row;
    justify-content: end;    
    align-items: baseline; /* Ensures that all children occupy the same height */
    padding-top: 1.1rem;
    padding-right: 9rem;
    height: 2.99rem;
    border: 0px solid #1A73E8; /* Blue */
}

/* Fonts properties for Google's main logo */
.xlarge {
    font-size: 6rem;
    font-weight: 400;
}
.large {
    font-size: 4.75rem;
    font-weight: 500;
}


/* INDEX PAGE */
/* Google's main logo contanier */
.logo-centered {
  display: flex;
  align-items: baseline; /* Ensures that all children occupy the same height */
  justify-content: center;
  min-width: 0;
  width: 100%;
  height: 100%;
  padding-top: 8.2rem;
  padding-right: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 1.5rem;
  font-family: 'Poppins', sans-serif;
  letter-spacing: -.23rem;
  margin-top: 0rem;
  border: 0px dashed #EA4335; /* Red */
}

/* Search form */
.input-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-bottom: 0rem;
    padding-left: 1.5rem;
    margin-top: 0rem;
    border: 0px dashed #EA4335; /* Red */
}

/* Input fields */
.input-google {
    all: unset;
    box-sizing: border-box;
    font-family: inherit;

    text-align: start;

    width: 100%;
    max-width: 36rem;
    min-height: 3rem;
    height: 3rem;
    border-radius: 24px;

    padding: 0 1rem;

    box-shadow: 0 1px 7px 0px #E3E4E8; /* Gray */

    font-size: 1rem;

    border: 1px solid #E3E4E8; /* Gray */
}
.input-google:hover {
    box-shadow: 0 2px 9px -1.5px #cfd1d6; /* Gray */
}

.input-google:focus {
    box-shadow: 0 2px 9px -1.5px #cfd1d6 /* Darker Gray */

    border-color: #E3E4E8; /* Keep the gray border */
}

.buttons-group {
    display: flex;
    justify-content: center;

    gap: 12px;
    margin-top: 2rem;

}

/* Style for buttons */
input[type="submit"] {
    all: unset;
    padding: 0.55rem 1rem; /* Spacing on buttons */
    font-size: .9rem;
    font-weight: 400;
    text-align: center;
    cursor: pointer; /* Pointer cursor on hover */
    
    background-color: #f6f6f6; /* Light gray */
    color: #5f6368; /* Dark gray */
    border: 1px solid transparent; /* No border initially */
    border-radius: 9px; /* Rounded borders */

    transition: border-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

/* Hover effect (when the mouse is over the button) */
input[type="submit"]:hover {
    border: 1px solid #dadce0; /* Light gray border on hover */
    background-color: #cfd1d6; /* Keep Lightest gray for the background on hover */
    box-shadow: 0 2px 3px -3px #E3E4E8; /* Gray */
}

/* Click effect (focus) */
input[type="submit"]:active {
    border: 1px solid #4285f4; /* Blue border on click */
    background-color: #f1f3f4; /* Keep light background on click */
    box-shadow: none; /* Gray */
}